[submodule ".registry"]
	path = .registry
	url = https://github.com/adamhsparks/adamhsparks.r-universe.dev
	branch = HEAD
[submodule "epicrop"]
	path = epicrop
	url = https://codeberg.org/adamhsparks/epicrop
[submodule "fifo"]
	path = fifo
	url = https://codeberg.org/adamhsparks/fifo
[submodule "misc.debris"]
	path = misc.debris
	url = https://codeberg.org/adamhsparks/misc.debris
